body {
    height: 100%;
    background: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

.center {
    text-align: center;
}

.instructions {
    border: 1px solid black;
    margin-bottom: 50px;
}

.color-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}

.grid {
    display: inline-grid;
    border: 1px solid black;
    grid-template-columns: repeat(16, 1fr);
    height: 500px;
    width: 575px;
}

.grid-cell {
    background: white;
    border: 1px solid black;
}

.reset {
    display: inline;
}